version: 0.0
os: linux
files:
  - source: /
    destination: /deploy/octoblu-oauth-provider/$TRAVIS_COMMIT
hooks:
  ApplicationStart:
    - location: .kubernetes/application_start
  ApplicationStop:
    - location: .kubernetes/application_stop
