id: meshblu-blink1
kind: Pod
apiVersion: v1beta1
labels:
  name: meshblu-blink1
  version: 1.0.0
desiredState:
  manifest:
    version: v1beta1
    id: meshblu-blink1
    restartPolicy:
      never: {}
    containers:
      - name: meshblu-blink1
        image: octoblu/node-pre-compile-linux-32bit
        env:
          - name: NPM_PACKAGE_NAME
            value: meshblu-blink1
          - name: S3_ACCESS_KEY_ID
            value: $S3_ACCESS_KEY_ID
          - name: S3_SECRET_ACCESS_KEY
            value: $S3_SECRET_ACCESS_KEY
          - name: S3_BUCKET_NAME
            value: octoblu-npm
